In [634]:
#Importing the required libraries.
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import json

# DATA SCRAPING

In [679]:
#Scraping World Data
def world_data(url):
    res = requests.get(url)
    html_c = res.content
    soup =BeautifulSoup(html_c,'html.parser')
    data = soup.find_all(class_='maincounter-number')
    for i in range(len(data)):
        if(i==0):
            total_cw = data[i].span.string                  #To get the Total Coronavirus Cases Count Worldwide
            total_cw = int(total_cw.replace(',', ''))
        elif(i==1):
            total_dw = data[i].span.string                  #To get the Total Coronavirus Deaths Count Worldwide
            total_dw = int(total_dw.replace(',', ''))      
        else:
            total_rw = data[i].span.string                  #To get the Total Coronavirus Recovered Cases Count Worldwide
            total_rw = int(total_rw.replace(',', ''))
        
#To get countrywise updates:
#Empty list to store data.
    countries = []
    total = []
    active = []
    totalr = []
    totald = []
    serious = []
    tcm = []
    data = soup.find("table", id = "main_table_countries_today")
    table_data = data.tbody.find_all("tr") 
    for i in range(8, len(table_data)):
        c = table_data[i].find_all("td")[1].string.strip()  #Country List
        countries.append(c)
        num = table_data[i].find_all("td")[2].string        #Total Cases Countrywise
        total.append(num)
        num = table_data[i].find_all("td")[8].string        #Active Cases Countrywise
        active.append(num)
        num = table_data[i].find_all("td")[6].string        #Total Recovered Countrywise
        totalr.append(num)
        num = table_data[i].find_all("td")[4].string        #Total Deaths Worldwise
        totald.append(num)
        num = table_data[i].find_all("td")[9].string        #Serious/Critical Cases Countrywise
        serious.append(num)
        num = table_data[i].find_all("td")[10].string        #Total Cases Per Million
        tcm.append(num)
    
    #Converting lists to Dataframe
    df = pd.DataFrame(list(zip(countries, total, active, totalr, totald, serious, tcm)), columns =['Countries', 'Total Cases','Active Cases', 'Total Recovered','Total Deceased','Serious','Cases Per Million']) 
    for i in range(len(df['Active Cases'])):
        df['Active Cases'][i] = df['Active Cases'][i].replace(",","")          #Remove ',' to change string to Int.
        df['Total Cases'][i] = df['Total Cases'][i].replace(",","")            #Skipping 'N/A' values
        df['Total Deceased'][i] = df['Total Deceased'][i].replace(",","")
        try:
            df['Total Recovered'][i] = df["Total Recovered"][i].replace(",","")
        except:
            pass
        try:
            df['Serious'][i] = df["Serious"][i].replace(",","")
        except:
            pass
        try:
            df['Cases Per Million'][i] = df["Cases Per Million"][i].replace(",","")
        except:
            pass

    cols = ['Total Cases','Active Cases', 'Total Recovered','Total Deceased','Serious','Cases Per Million']
    df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)
    df = df.sort_values(by = ['Total Cases'], ascending=False)              #Sorting the Dataframe on the basis of Total Cases
    df.index = np.arange(1,len(df)+1)                                       #Resetting the index from 1.
    df.fillna(0, inplace = True)                                            #Filling N/A values by 0 for visualisation
    
    #Return Dataframe
    return df

In [680]:
#Scraping Indian Data
def india_data(url):
    res = requests.get(url)
    html_c = res.content
    soup =BeautifulSoup(html_c,'lxml')
    data = soup.find("table", class_ = "table table-striped")
    table_data = data.tbody.find_all("tr") 
    states = []
    totalindia = []
    activeindia = []
    totalri = []
    totaldi = []
    for i in range(0,37):
        s = table_data[i].find_all("td")[1].text.strip()     #State List
        states.append(s)
        num = table_data[i].find_all("td")[2].text.strip()   #Active Cases in India
        num = num.replace('\n',"")
        activeindia.append(num)
        num = table_data[i].find_all("td")[3].text.strip()   #Total Recovered Cases in India
        num = num.replace('\n',"")
        totalri.append(num)
        num = table_data[i].find_all("td")[4].text.strip()   #Total Deceased in India
        num = num.replace('\n',"")
        totaldi.append(num)
        num = table_data[i].find_all("td")[5].text.strip()   #Total Cases in India
        num = int(num.replace('\n',""))
        totalindia.append(num)

    #Data Cleaning   
    data_india = pd.DataFrame(list(zip(states, totalindia, activeindia, totalri, totaldi)), columns =['States', 'Total Cases','Active Cases', 'Total Recovered','Total Deceased'])
    data_india = data_india.sort_values(by = ['Total Cases'], ascending=False)       #Sorting the Dataframe on the basis of Total Cases
    cols = ['Total Cases','Active Cases', 'Total Recovered','Total Deceased']
    data_india[cols] = data_india[cols].apply(pd.to_numeric, errors='coerce', axis=1, downcast='integer')  
    data_india.index = np.arange(1,len(data_india)+1)                                #Resetting the index from 1.
    data_india.fillna(0, inplace = True)                                             #Filling N/A values by 0 for visualisation
    
    return data_india

In [681]:
#Time Series Indian Data using API
def timeseriesindia(url):
    res = requests.get(url)
    data = res.json()                                       #Extracting the Data
    timeseries = []
    totalconfirmed = []
    dailyconfirmed = []
    dailydeceased = []
    dailyrecovered = []
    totalrecovered = []
    totaldeceased = []
    #To get daily confirmed Cases in India
    for i in data['cases_time_series']:
        timeseries.append(i['date'])
        dailyconfirmed.append(i['dailyconfirmed'])
        dailyrecovered.append(i['dailyrecovered'])
        dailydeceased.append(i['dailydeceased'])
        totalconfirmed.append(i['totalconfirmed'])
        totalrecovered.append(i['totalrecovered'])
        totaldeceased.append(i['totaldeceased'])
    
    
    #Converting lists to Dataframe
    datatimeseries = pd.DataFrame(list(zip(timeseries, dailyconfirmed, dailyrecovered, dailydeceased, totalconfirmed, totalrecovered, totaldeceased)), 
                              columns =['Date', 'Daily Cases','Daily Recovered', 'Daily Deceased','Total Confirmed','Total Recovered','Total Deceased'])    
    
    return datatimeseries

In [682]:
dw = world_data("https://www.worldometers.info/coronavirus/")
di = india_data("https://www.mohfw.gov.in/")
dts = timeseriesindia('https://api.covid19india.org/data.json')

In [683]:
dw

,Countries,Total Cases,Active Cases,Total Recovered,Total Deceased,Serious,Cases Per Million
1,USA,3413995.0,1759129.0,1517084.0,137782.0,15822.0,10312.0
2,Brazil,1866176.0,580513.0,1213512.0,72151.0,8318.0,8778.0
3,India,879466.0,301850.0,554429.0,23187.0,8944.0,637.0
4,Russia,727162.0,214766.0,501061.0,11335.0,2300.0,4983.0
5,Peru,326326.0,97345.0,217111.0,11870.0,1316.0,9893.0
6,Chile,315041.0,24160.0,283902.0,6979.0,1995.0,16476.0
7,Spain,300988.0,0.0,0.0,28403.0,617.0,6438.0
8,Mexico,299750.0,79980.0,184764.0,35006.0,378.0,2324.0
9,UK,289603.0,0.0,0.0,44819.0,185.0,4265.0
10,South Africa,276242.0,137289.0,134874.0,4079.0,539.0,4656.0
11,Iran,257303.0,24481.0,219993.0,12829.0,3359.0,3062.0
12,Pakistan,251625.0,84442.0,161917.0,5266.0,1837.0,1139.0
13,Italy,243061.0,13179.0,194928.0,34954.0,68.0,4020.0
14,Saudi Arabia,232259.0,62898.0,167138.0,2223.0,2245.0,6669.0
15,Turkey,212993.0,13115.0,194515.0,5363.0,1209.0,2525.0
16,Germany,199950.0,6216.0,184600.0,9134.0,278.0,2386.0
17,Bangladesh,183795.0,87829.0,93614.0,2352.0,1.0,1116.0
18,France,170752.0,62360.0,78388.0,30004.0,496.0,2616.0
19,Colombia,150445.0,81687.0,63451.0,5307.0,875.0,2956.0
20,Canada,107590.0,27340.0,71467.0,8783.0,2158.0,2850.0
21,Qatar,103598.0,3708.0,99743.0,147.0,140.0,36896.0
22,Argentina,100166.0,55627.0,42694.0,1845.0,735.0,2216.0
23,China,83602.0,320.0,78648.0,4634.0,3.0,58.0
24,Egypt,82070.0,53793.0,24419.0,3858.0,41.0,802.0
25,Iraq,77506.0,29632.0,44724.0,3150.0,400.0,1926.0
26,Indonesia,75699.0,36455.0,35638.0,3606.0,0.0,277.0
27,Sweden,74898.0,0.0,0.0,5526.0,85.0,7415.0
28,Ecuador,67870.0,32540.0,30283.0,5047.0,308.0,3845.0
29,Belarus,64932.0,9088.0,55380.0,464.0,89.0,6872.0
30,Belgium,62707.0,35729.0,17196.0,9782.0,32.0,5410.0
...,...,...,...,...,...,...,...
186,Sint Maarten,78.0,0.0,63.0,15.0,0.0,1819.0
187,Antigua and Barbuda,74.0,14.0,57.0,3.0,1.0,755.0
188,Turks and Caicos,71.0,58.0,11.0,2.0,0.0,1833.0
189,Gambia,64.0,27.0,34.0,3.0,0.0,26.0
190,French Polynesia,62.0,2.0,60.0,0.0,0.0,221.0
191,Macao,46.0,1.0,45.0,0.0,0.0,71.0
192,Saint Martin,43.0,3.0,37.0,3.0,1.0,1112.0
193,Belize,37.0,15.0,20.0,2.0,0.0,93.0
194,St. Vincent Grenadines,35.0,6.0,29.0,0.0,0.0,315.0
195,Fiji,26.0,8.0,18.0,0.0,0.0,29.0
196,Curaçao,25.0,0.0,24.0,1.0,0.0,152.0
197,Timor-Leste,24.0,0.0,24.0,0.0,0.0,18.0
198,Grenada,23.0,0.0,23.0,0.0,0.0,204.0
199,Saint Lucia,22.0,3.0,19.0,0.0,0.0,120.0
200,New Caledonia,21.0,0.0,21.0,0.0,0.0,74.0
201,Laos,19.0,0.0,19.0,0.0,0.0,3.0
202,Dominica,18.0,0.0,18.0,0.0,0.0,250.0
203,Saint Kitts and Nevis,17.0,2.0,15.0,0.0,0.0,319.0
204,Greenland,13.0,0.0,13.0,0.0,0.0,229.0
205,Falkland Islands,13.0,0.0,13.0,0.0,0.0,3733.0
206,Vatican City,12.0,0.0,12.0,0.0,0.0,14981.0
207,Montserrat,12.0,1.0,10.0,1.0,0.0,2404.0
208,Papua New Guinea,11.0,3.0,8.0,0.0,0.0,1.0
209,Western Sahara,10.0,1.0,8.0,1.0,0.0,17.0
210,MS Zaandam,9.0,7.0,0.0,2.0,0.0,0.0
211,British Virgin Islands,8.0,0.0,7.0,1.0,0.0,265.0
212,Caribbean Netherlands,7.0,0.0,7.0,0.0,0.0,267.0
213,St. Barth,6.0,0.0,6.0,0.0,0.0,607.0
214,Anguilla,3.0,0.0,3.0,0.0,0.0,200.0
215,Saint Pierre Miquelon,2.0,1.0,1.0,0.0,0.0,345.0

In [684]:
di

,States,Total Cases,Active Cases,Total Recovered,Total Deceased
1,Total#,878254.0,301609.0,553471.0,23174.0
2,Maharashtra,254427.0,103813.0,140325.0,10289.0
3,Tamil Nadu,138470.0,46972.0,89532.0,1966.0
4,Delhi,112494.0,19155.0,89968.0,3371.0
5,Gujarat,41820.0,10613.0,29162.0,2045.0
6,Karnataka,38843.0,22750.0,15409.0,684.0
7,Uttar Pradesh,36476.0,12208.0,23334.0,934.0
8,Telangana,34671.0,11833.0,22482.0,356.0
9,West Bengal,30013.0,10500.0,18581.0,932.0
10,Andhra Pradesh,29168.0,13428.0,15412.0,328.0
11,Rajasthan,24392.0,5779.0,18103.0,510.0
12,Haryana,21240.0,4956.0,15983.0,301.0
13,Madhya Pradesh,17632.0,4103.0,12876.0,653.0
14,Bihar,16642.0,5001.0,11498.0,143.0
15,Assam,16071.0,5610.0,10426.0,35.0
16,Odisha,13121.0,4307.0,8750.0,64.0
17,Jammu and Kashmir,10513.0,4355.0,5979.0,179.0
18,Kerala,7873.0,3747.0,4095.0,31.0
19,Punjab,7821.0,2230.0,5392.0,199.0
20,Chhattisgarh,4059.0,887.0,3153.0,19.0
21,Jharkhand,3756.0,1418.0,2308.0,30.0
22,Uttarakhand,3537.0,704.0,2786.0,47.0
23,Goa,2453.0,952.0,1487.0,14.0
24,Cases being reassigned to states,2358.0,2358.0,0.0,0.0
25,Tripura,2054.0,631.0,1421.0,2.0
26,Manipur,1609.0,713.0,896.0,0.0
27,Puducherry,1418.0,661.0,739.0,18.0
28,Himachal Pradesh,1213.0,273.0,929.0,11.0
29,Ladakh,1086.0,157.0,928.0,1.0
30,Nagaland,774.0,447.0,327.0,0.0
31,Chandigarh,559.0,134.0,417.0,8.0
32,Dadra and Nagar Haveli and Daman and Diu,479.0,234.0,245.0,0.0
33,Arunachal Pradesh,359.0,219.0,138.0,2.0
34,Meghalaya,306.0,238.0,66.0,2.0
35,Mizoram,231.0,81.0,150.0,0.0
36,Andaman and Nicobar Islands,163.0,70.0,93.0,0.0
37,Sikkim,153.0,72.0,81.0,0.0

In [685]:
dts

,Date,Daily Cases,Daily Recovered,Daily Deceased,Total Confirmed,Total Recovered,Total Deceased
0,30 January,1,0,0,1,0,0
1,31 January,0,0,0,1,0,0
2,01 February,0,0,0,1,0,0
3,02 February,1,0,0,2,0,0
4,03 February,1,0,0,3,0,0
5,04 February,0,0,0,3,0,0
6,05 February,0,0,0,3,0,0
7,06 February,0,0,0,3,0,0
8,07 February,0,0,0,3,0,0
9,08 February,0,0,0,3,0,0
10,09 February,0,0,0,3,0,0
11,10 February,0,0,0,3,0,0
12,11 February,0,0,0,3,0,0
13,12 February,0,0,0,3,0,0
14,13 February,0,1,0,3,1,0
15,14 February,0,0,0,3,1,0
16,15 February,0,0,0,3,1,0
17,16 February,0,1,0,3,2,0
18,17 February,0,0,0,3,2,0
19,18 February,0,0,0,3,2,0
20,19 February,0,0,0,3,2,0
21,20 February,0,1,0,3,3,0
22,21 February,0,0,0,3,3,0
23,22 February,0,0,0,3,3,0
24,23 February,0,0,0,3,3,0
25,24 February,0,0,0,3,3,0
26,25 February,0,0,0,3,3,0
27,26 February,0,0,0,3,3,0
28,27 February,0,0,0,3,3,0
29,28 February,0,0,0,3,3,0
...,...,...,...,...,...,...,...
135,13 June,12039,8092,309,321638,162327,9198
136,14 June,11405,7358,324,333043,169685,9522
137,15 June,10032,10639,396,343075,180324,9918
138,16 June,11086,7226,2004,354161,187550,11922
139,17 June,13108,6890,341,367269,194440,12263
140,18 June,13829,10741,343,381098,205181,12606
141,19 June,14740,9029,364,395838,214210,12970
142,20 June,15918,13974,308,411753,228184,13278
143,21 June,15151,9075,426,426904,237259,13704
144,22 June,13560,10879,312,440464,248138,14016
145,23 June,15656,10462,468,456120,258600,14484
146,24 June,16868,13089,424,472988,271689,14908
147,25 June,18205,13983,401,491193,285672,15309
148,26 June,18255,10246,381,509448,295918,15690
149,27 June,20142,14229,414,529590,310147,16104
150,28 June,19610,11631,384,549200,321778,16488
151,29 June,18339,13497,417,567539,335275,16905
152,30 June,18256,12565,506,585795,347840,17411
153,01 July,19429,12064,438,605224,359904,17849
154,02 July,21947,19999,378,627171,379903,18227
155,03 July,22718,14417,444,649889,394320,18671
156,04 July,24018,14746,611,673907,409066,19282
157,05 July,23942,15829,421,697849,424895,19703
158,06 July,22500,15315,473,720349,440210,20176
159,07 July,23147,16836,479,743496,457046,20655
160,08 July,25561,19508,492,769057,476554,21147
161,09 July,25790,19408,479,794847,495962,21626
162,10 July,27762,20289,520,822609,516251,22146
163,11 July,27757,19981,543,850366,536232,22689
164,12 July,29105,18198,500,879471,554430,23189

# DATA VISUALISATION